*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.maincontainer{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle, #a94bb5 0%, #00d4ff 100%);
}
.heading{
  text-align: center;
  align-items: center;
  margin-bottom: 40px;
}
.container{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  height: 525px;
  width: 470px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 3px rgb(227, 219, 219);
}
.question-text{
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 415px;
  margin-top: 30px;
  border-radius: 7px;
  box-shadow: 2px 2px 3px 3px rgb(227, 219, 219);
  background-color: #f3f3f3;
}
.option{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}
.btn{
  margin-top: 20px;
  width: 380px;
  height: 40px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 2px 2px 3px 3px rgb(227, 219, 219);
  border: none;
  font-size: 22px;
  cursor: pointer;
  background-color: #f3f3f3;
}
.checked{
  background-color: rgb(15, 182, 15);
  color: white;
  box-shadow: 2px 2px 2px 2px rgb(136, 130, 130);

}
.btn:hover{
  background-color: rgb(111, 247, 111);
}
.next{
  padding: 5px 20px 5px 20px;
  font-size: 22px;
  border-radius: 5px;
  background-image: radial-gradient(circle, #dfd0e1 0%, #376771 100%);
  letter-spacing: 1px;
  margin-top: 50px;
  border: none;
  box-shadow: 2px 2px 2px 2px rgb(136, 130, 130);
  cursor: pointer;
  
}
.txtcontainer{
 font-size: 22px;
 font-weight: 600;
 text-align: center;
}