* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.maincontainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle, #a94bb5 0%, #00d4ff 100%);
}

.heading {
  text-align: center;
  align-items: center;
  margin-bottom: 40px;
}

.container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  height: 550px;
  width: 475px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 3px rgb(243, 206, 218)
}

.question-text {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 415px;
  margin-top: 30px;
  border-radius: 7px;
  box-shadow: 2px 2px 3px 3px rgb(227, 219, 219);
  background-color: #f3f3f3;
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.btn {
  margin-top: 20px;
  width: 380px;
  height: 40px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 2px 2px 3px 3px rgb(227, 219, 219);
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #f3f3f3;
}

.checked {
  background-color: rgb(15, 182, 15);
  color: white;
  box-shadow: 2px 2px 2px 2px rgb(136, 130, 130);

}

.btn:hover {
  background-color: rgb(128, 243, 128);
}
.buttons{
  /* border: 2px solid red; */
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  

}

.next {
  padding: 5px 20px 5px 20px;
  font-size: 22px;
  border-radius: 5px;
  background-color: #94ccf2;
  border: none;
  box-shadow: 2px 2px 2px 2px rgb(136, 130, 130);
  cursor: pointer;

}
.previous{
  padding: 5px 15px 5px 15px;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(222, 179, 222);
  border: none;
  box-shadow: 2px 2px 2px 2px rgb(136, 130, 130);
  cursor: pointer;
}
.previous:hover{
  background-color:  rgb(206, 148, 206);
}

.next:hover {
  background-color: #65bbf4
}

.txtcontainer {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.show-score {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: auto;
}
.tryagain{
  padding: 5px 20px 5px 20px;
  font-size: 22px;
  border-radius: 5px;
  background-color: #98c6e4;
  border: none;
  box-shadow: 2px 2px 2px 2px rgb(136, 130, 130);
  cursor: pointer;
  margin-bottom: 100px;
}
.tryagain:hover{
  background-color: #51b4f7;
}
.option-btn{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: space-between;
  margin-top: 30px;
}
.btn-1{
  padding: 3px 10px 3px 10px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 3px;
  background-color: #f3f3f3;
  box-shadow: 2px 2px 2px 2px rgb(227, 219, 219);
  border: none;
  flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
  .container{
    height: 495px;
    width: 430px;
  }
  .question-text {
    height: 75px;
    width: 350px;
}
.txtcontainer{
  font-size: 18px;
}
.btn {
  width: 320px;
  height: 35px;
  font-size: 17px;
}
.next{
  padding: 3px 8px 3px 8px;
  font-size: 18px;
  border-radius: 3px;
}
.btn-1 {
  padding: 1px 8px 1px 8px;
  font-size: 15px;
  border-radius: 2px;
}
.tryagain{
  padding: 3px 15px 3px 15px;
  font-size: 18px;
  border-radius: 3px;
}
.show-score{
  font-size: 30px;
}
.previous {
  padding: 3px 8px 3px 8px;
  font-size: 17px;
  border-radius: 3px;
}
}
@media only screen and (max-width: 450px) {
  .question-text {
    height: 70px;
    width: 300px;
}
.btn{
  width: 275px;
  height: 30px;
}

.container{
  width: 350px;
  height: 473px;
  box-shadow: 2px 2px 2px 2px rgb(243, 206, 218)
}
.option-btn{
  width: 335px;
}
.heading{
  font-size: 25px;
}
}
